<!-- <div class="grid">


    <div class="col-12 lg:col-6">
        <div class="card z-3">
            <h5>Messages</h5>
            <div class="flex flex-wrap gap-2">
                <button type="button" pButton (click)="showSuccessViaMessages()" label="Success" class="p-button-success"></button>
                <button type="button" pButton (click)="showInfoViaMessages()" label="Info" class="p-button-info"></button>
                <button type="button" pButton (click)="showWarnViaMessages()" label="Warn" class="p-button-warning"></button>
                <button type="button" pButton (click)="showErrorViaMessages()" label="Error" class="p-button-danger"></button>
            </div>

            <p-messages [value]="messages"></p-messages>
        </div>
        <form (ngSubmit)="send()">

          <input type="text"
                 [(ngModel)]="text"
                 class="form-control chat-input"
                 name="text"
                 placeholder="Message..."
                 autofocus
                 autocomplete="off"
                >

        </form>
    </div> -->

    <!-- <div class="col-12 lg:col-4">
        <div class="card">
            <h5>Help Text</h5>
            <div class="field p-fluid">
                <label for="username2">Username</label>
                <input id="username2" type="username" aria-describedby="username-help" class="ng-dirty ng-invalid" pInputText />
                <small id="username-help" class="p-error">Enter your username to reset your password.</small>
            </div>
        </div>
    </div> -->
</div>
