<!-- <ng-template #loading>
  <div class="alert alert-info text-center">
    Wait please
  </div>
</ng-template>


<div *ngIf="room; else loading">
  <div class="row">
    <div class="col-12">
      <h2>Room: <strong> {{room.name}} </strong></h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Information</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Description:</strong> {{room.description}}
        </li>
      </ul>
    </div>
  </div> -->